/* RotatingText Component Styles */

.text-rotate {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-rotate-word {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.text-rotate-element {
  display: inline-block;
  will-change: transform;
}

.text-rotate-space {
  display: inline-block;
  width: 0.25em;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
